{% extends "@SlimSkeleton/baselayout.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ ("error."~code~".title")|translate(locale) }}</h1>
            <p>{{ ("error."~code~".text")|translate(locale)|raw }}</p>
        </div>
    </div>
{% endblock %}
