{% extends "@SlimSkeleton/baselayout.html.twig" %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ "home.title"|trans(locale) }}</h1>
            <p>{{ "home.text"|trans(locale) }}</p>
        </div>
    </div>
{% endblock %}
