{% extends "@SlimSkeleton/baselayout.html.twig" %}

{% block container %}
    <h1>Users</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a type="button" class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a type="button" class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        <a type="button" class="btn btn-danger btn-sm">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
