#container {
    padding-top: 80px;
    padding-bottom: 40px;
}

form.inline-form {
    display: inline;
}

h1 {
    margin-bottom: 20px;
}

.button-bar {
    margin-bottom: 20px;
}

.select2-container {
    width: 100% !important;
    font-size: 14px;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container .select2-selection--multiple {
    min-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 34px;
    line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #CCC;
}
